<!doctype html>
<head>
  <title>Character Creator</title>
  <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  {% if character %}
    <h2> {{ character.s_race }} {{ character.m_race }}</h2>
    <h3> {{ character.s_class }} {{ character.m_class }}</h3>
    <u> Level: {{ character.level }}</u>
    <p><b>STR</b>: {{ character.strength }}</p>
    <p><b>DEX</b>: {{ character.dexterity }}</p>
    <p><b>CON</b>: {{ character.constitution }}</p>
    <p><b>INT</b>: {{ character.intelligence }}</p>
    <p><b>WIS</b>: {{ character.wisdom }}</p>
    <p><b>CHA</b>: {{ character.charisma }}</p>
    <i> {{ backstory }} </i>
  {% else %}
    <h1>err</h1>
  {% endif %}


  <form action="" method="get">
    <button>Create New Character</button>
  </form>
  <p></p>
  <form action="/">
    <input type="submit" value="Return To Menu" />
  </form>

</body>
